{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <!--meta http-equiv="Access-Control-Allow-Origin" content="http://localhost:63342/reauthoring/" /-->#}
{#    <title>Answer_Receive</title>#}
{#</head>#}
{#<body>#}
{#{{ answer_1 }}#}
{#</body>#}
{#</html>#}