<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Data Collection from Reauthoring</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>


{#<form action="result/url/" method="get">#}
{#  <p>姓名：<input type="text" name="resultcount"></p>#}
{#  <input type="submit" value="确定">#}
{#</form>#}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reauthoring Data Collect Engine</h1>
    <p class="lead">Update data from Reauthoring.</p>
  </div>
</div>




    <div class="list-group" id="collapseExample" >
{% if latest_answer_list %}

    {% for q in latest_answer_list %}
        <button type="button" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#{{q.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">{{ q.question_id }}</button>


    <div class="collapse" id="{{q.id}}" data-parent="#collapseExample">
        <div class="card card-body">
             {{ q.answer }}
        </div>
    </div></div>
     {% endfor %}
{% else %}
    <p>No Answer are available.</p>
{% endif %}
{{ total }}




{#<script>#}
{#    $(document).ready(function(){#}
{##}
{#        //var a = $("#a").val();#}
{#        //var b = $("#b").val();#}
{#        $.ajax({#}
{#            type: "GET",#}
{#            url: "http://127.0.0.1:8000/datacollect/answer/receive/",#}
{#            data: {},  //"question_id":a, "answer":b#}
{#            datatype: "JSONP",#}
{#            success: function (ret) {#}
{##}
{#            }#}
{#        })#}
{#      });#}
{##}
{#</script>#}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>