<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result count</title>
    <style>
* { font-size:12px; font-family:Verdana,宋体; }
{#html, body { margin:0px; padding:0px; overflow:hidden; }#}
.b { margin:0px; padding:0px; overflow:auto; }
.line0 { line-height:20px; background-color:lightyellow; padding:0px 15px; }
.line1 { line-height:18px; background-color:lightblue; padding:0px 10px; }
.win { position:absolute; lift:10px; top:10px; width:1px; height:500px; overflow:hidden; border:2px groove #281; cursor:default; -moz-user-select:none; }
.too { line-height:20px; height:20px; width:500px; overflow:hidden; background-color:#27C; color:white; font-weight:bold; border-bottom:1px outset blue; text-align:center; }
.winBody { height:500px; width:500px; overflow-x:auto; overflow-y:auto; border-top:1px inset blue; padding:10px; background-color:white; }
</style>
</head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<body>


{#<input type="hidden" id="result_count" value="{{ result_count }}">#}

<div class="win" id="mydiv" onmousemove="myshow()" onmouseout="myhide()">
    <div class="too">学生信息</div>
    <div class="winBody">
        学号：<label>0123456789 </label><br><br>
        姓名：<label>小明 </label><br><br>
        学院：<label>软件学院 </label><br><br>
        专业：<label>软件工程</label><br><br>
        班级：<label>一班</label><br><br>
    </div>
</div>




<script type="text/javascript">

    function myshow(){
        //document.getElementById('mydiv').style.display = "none";
        document.getElementById('mydiv').style.width = "160px";
    } //block
    function myhide(){
        //document.getElementById('mydiv').style.display = "block";
        document.getElementById('mydiv').style.width="1px";
    }

    //测试用，随机生成一些内容，便于测试效果。
    for(var i=0; i<400; i++)document.write("<div class=\"line"+(i%2)+"\">"+(new Array(20)).join((Math.random()*1000000).toString(36)+" ")+"<\/div>");

    new function(w,b,c,d,o){
         d=document;b=d.body;o=b.childNodes;c="className";
         b.appendChild(w=d.createElement("div"))[c]= "b";
         for(var i=0; i<o.length-1; i++)if(o[i][c]!="w")w.appendChild(o[i]),i--;
         (window.onresize = function(){
          w.style.width = d.documentElement.clientWidth + "px";
          w.style.height = d.documentElement.clientHeight + "px";
         })();}

</script>





{#<script>#}
{##}
{#    $(document).ready(function(){#}
{##}
{#      var year = 1234;#}
{##}
{#      $("#td1").text(year+" J2EE开发");#}
{##}
{#   });#}
{##}
{#</script>#}
{#<table border="1">#}
{#<tr>#}
{#<td id="td1"></td>#}
{#</tr>#}
{#    </table>#}
{#<form action="result/count/" method="get">#}
{#  <p>姓名：<input type="text" name="resultcount"></p>#}
{#  <input type="submit" value="确定">#}
{#</form>#}
{#<script>#}
{#    $(document).ready(function(){#}
{#        data = {};#}
{#        data['result_count'] = $("#result_count").val();#}
{#        $.ajax({#}
{#            type:"GET",#}
{#            url:"http://127.0.0.1:8000/datacollect/result/url/",#}
{#            data: data,  //"question_id":a, "answer":b#}
{#            dataType:'JSONP',#}
{#            success: function(suc){#}
{#                alert('Good!');#}
{#            },#}
{#            error: function(xhr, status, error) {#}
{#              alert(xhr.responseText);#}
{#            }#}
{#            error:function(err){#}
{#                alert('Bad!');#}
{#            }#}
{##}
{#        });#}
{#    });#}
{#</script>#}

{#      <div id="here"></div><a id="clickhere" href="#">click to view test result</a>#}
{#<ul class="simple">#}
{#    <li><table border="1">#}
{#<tr>#}
{#<td id="result_count"></td>#}
{#</tr>#}
{#    </table></li>#}
{##}
{##}
{##}
{##}
</body>
</html>